@import "tailwindcss";

@theme {
  --background-image-page-gradient: 
    radial-gradient(circle at top left, rgba(190, 98, 41, 0.2), transparent 15%),
    radial-gradient(circle at bottom right, rgba(190, 98, 41, 0.2), transparent 20%);

    --animate-fade-in: fade-in 1.5s ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #10151d;
  background-image: var(--background-image-page-gradient);
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: 'Inter', sans-serif;
}
